div {
    font-family: "Roboto";
    font-weight: 400;
}
input {
    font-family: "Roboto";
}
button {
    font-family: "Roboto";
    font-weight: 400;
}
.first-grid {
    background-color:  #111e47;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    padding: 20px 20px 20px 20px;
    row-gap: 35px;
}
div.div1, div.div2, div.div3 {
    display: flex;
    background-color: #16285c;
    border-radius: 20px;
    height: 100%;
    column-gap: 15px;
    padding: 10px 10px 10px 10px;
}
.chart {
    flex: 80%;
    height: 100%;
    width: 100%;
}
.sleep-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex: 2;
    background-color: #111e47;
}
.main-header {
    font-size: 48px;
    padding-top: 25px;
    flex: 10%;
    color: #c6ccd7;
}
.time-range {
    flex: 10%;
}
.time-labels {
    color: #c6ccd7;
}
.header-chart {
    padding-top: 15px;
    flex: 1;
    color: #c6ccd7;
    font-size: 42px;
}
.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    flex: 1;
    background-color: #111e47;
}
.hello {
    flex: 1;
    color: #c6ccd7;
    padding-top: 15px;
    font-size: 48px;
}
.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 3;
}
.score1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-color: #16285c;
    border-radius: 50%;
}
.number {
    flex: 1;
    color: #c6ccd7;
    font-size: 82px;
    font-weight: 500;
}
#lastNightSleepNumber {
    flex: 1;
    color: #c6ccd7;
    font-size: 82px;
    font-weight: 500;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    flex: 1;
    background-color: #111e47;
}
.sleep-time {
    flex: 1;
    color: #c6ccd7;
    font-size: 32px;
}

.testing-chart {
    height: 100%;
    width: 100%;
}