<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="/static/css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>OURA DASHBOARD</title>
    </head>
    <body style = "background-color: #111e47; padding: 10px 10px 10px 10px; height: 2000px;">
        <div class = "first-grid">
            <div class = "div1">
                <div class = "sleep-chart">
                    <div class = "time-range">
                        <label class = "time-labels" min = "2025-01-01">Start</label>
                        <input type = "date" id = "start">
                        <label class = "time-labels">End</label>
                        <input type = "date" id = "end">
                        <button onclick = mainChart();>Submit</button>
                        
                    </div>
                    <div class = "chart">
                        <canvas id = "main-plot" >
                        </canvas>
                    </div>
                </div>
                <div class = "welcome">
                    <div class = "hello">
                        Welcome Back!
                    </div>
                    <div class = "hello">
                        Today's Sleep Score:
                    </div>
                    <div class = "score">
                        <div class = "score1">
                            <div id = "lastNightSleepNumber">
                                93
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "div2">
                <div class = "boxes">
                    <div class = "score">
                        <div class = "hello">
                            Recent REM Sleep
                        </div>
                        <canvas id = "rem-sleep-chart" >
                        </canvas>
                    </div>
                </div>
                <div class = "boxes">
                    <div class = "score">
                        <div class = "sleep-time">
                            Recent Deep Sleep 
                        </div>
                        <canvas id = "deep-sleep-chart">
                        </canvas>
                    </div>
                </div>
                <div class = "boxes">
                    <div class = "score">
                        <div class = "sleep-time">
                            Recent Sleep Duration 
                        </div>
                        <canvas id = "sleep-time-chart">
                        </canvas>
                </div>
            </div>
        </div>
        <script src = "/static/js/script.js"></script>
    </body>
</html>