<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href="/static/css/index.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>Document</title>
    </head>
    <body style = "background-color: #111e47; padding: 10px 10px 10px 10px;">
        <div class = "first-grid">
            <div class = "div1">
                <div class = "sleep-chart">
                    <div class = "header-chart">
                        Sleep Scores During The Spring 2025 Semester
                    </div>
                    <div class = "chart">
                        <canvas id = "testingf" >
                        </canvas>
                    </div>
                </div>
                <div class = "welcome">
                    <div class = "hello">
                        Welcome Back Elio!
                    </div>
                    <div class = "hello">
                        Today's Sleep Score:
                    </div>
                    <div class = "score">
                        <div class = "score1">
                            <div id = "lastNightSleepNumber">
                                93
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "div2">
                <div class = "boxes">
                    <div class = "score">
                        <div class = "hello">
                            Last 7 Sleep Scores
                        </div>
                        <canvas id = "testing" >
                        </canvas>
                    </div>
                </div>
                <div class = "boxes">
                    <div class = "score">
                        <div class = "sleep-time">
                            Average Sleep Time This Week: 
                        </div>
                        <canvas id = "sleep-time-chart">
                        </canvas>
                    </div>
                </div>
                <div class = "boxes">
                    <div class = "score">
                        <div class = "score1">
                            <div class = "number">
                                1000
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "div3">
                <div class = "sleep-chart">

                </div>
                <div class = "boxes">

                </div>
            </div>
        </div>
        <script src = "/static/js/script.js"></script>
    </body>
</html>